@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: var(--cream-bg, #f2eae2);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  width: 343px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: var(--Pure-White, #fff);
  overflow: hidden;
}
.main-img {
  background-image: url(/images/image-product-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 240px;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.text-wrapper h1 {
  color: var(--Aurometal-Saurus, #6c7289);
  font-feature-settings: "clig" off, "liga" off;

  /* Overline */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
}

.text-wrapper h2 {
  color: #1c232b;

  /* Display */
  font-family: "Fraunces", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  margin-top: 12px;
}
.description {
  color: var(--Aurometal-Saurus, #6c7289);
  font-feature-settings: "clig" off, "liga" off;

  /* Body */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 164.286% */
  margin-top: 16px;
}

.flex-group {
  display: flex;
  gap: 19px;
  align-items: center;
  margin-top: 24px;
}
.flex-group p {
  color: #3d8168;

  /* Display */
  font-family: "Fraunces", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
}
.flex-group span {
  color: #6c7289;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 176.923% */
  text-decoration-line: line-through;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.6px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background: #3d8168;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

button p {
  color: #fff;

  /* Button Text */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button:hover {
  background: #1a4032;
}

@media screen and (min-width: 1440px) {
  .card {
    flex-direction: row;
    width: 600px;
  }
  .text-wrapper {
    padding: 32px;
    width: 300px;
  }
  .main-img {
    background-image: url(/images/image-product-desktop.jpg);
    width: 300px;
    height: 450px;
    flex-shrink: 0;
  }
  .text-wrapper h2 {
    margin-top: 20px;
    width: 206px;
  }
  .description {
    margin-top: 24px;
  }
  .flex-group {
    margin-top: 29px;
  }
  .button {
    margin-top: 30px;
  }
}
